@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
  --background: #ffffff;
  --secondary-background: #F1F5F9;
  --foreground: #171717;
  --font-libre-baskerville: 'Libre Baskerville', serif;
  --font-playfair-display: 'Playfair Display', serif;
  --font-plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-nunito-sans: 'Nunito Sans', sans-serif;
  --color-base: #18342F;
  --color-nav: #322F2F;
  --color-badge: #93EEDE;
  --color-button: #1acfae;
  --color-secondary: #9D9D9D;
  --color-tertier: #d9d9d9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-base: var(--color-base);
  --color-nav: var(--color-nav);
  --color-badge: var(--color-badge);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-libre-baskerville: var(--font-libre-baskerville);
  --font-playfair-display: var(--font-playfair-display);
  --font-plus-jakarta-sans: var(--font-plus-jakarta-sans);
  --font-roboto: var(--font-roboto);
  --font-nunito-sans: var(--font-nunito-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* Background Image - Overlay */
.bg-hero{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/images/Background-Image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-footer{
  background-image: linear-gradient(rgba(24, 52, 47, 0.8)), url('/images/Footerbackground-overlay.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-sectionColor{
  background-color: var(--color-base);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* Font Utility Classes */
.font-libre{
  font-family: var(--font-libre-baskerville);
}
.font-villatolping{
  font-family: var(--font-playfair-display);
}
.font-plus{
  font-family: var(--font-plus-jakarta-sans);
}
.font-roboto{
  font-family: var(--font-roboto);
}
.font-nunito-sans{
  font-family: var(--font-nunito-sans);
}

/* Color Utility Classes */
.text-Nav{
  color: var(--color-nav);
}
.badge-item{
  background-color: var(--color-badge);
  color: var(--color-base);
  text-transform: uppercase;
  font-size: 10px;
}

/* Swiper Library */
.swiper-pagination{
  position: relative;
}
.swiper-pagination-bullet-active{
  background-color: #000000;
  width: 8.5px;
  height: 8.5px;
}
.swiper-horizontal > .swiper-pagination-bullets{
  bottom: 0px;
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
