@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';


:root {
  --background: #ffffff;
  --secondary-background: #F1F5F9;
  --foreground: #171717;
  --font-libre-baskerville: 'Libre Baskerville', serif;
  --font-playfair-display: 'Playfair Display', serif;
  --font-plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-nunito-sans: 'Nunito Sans', sans-serif;
  --font-montaga: 'Montaga', serif;
  --font-cormorant-garamond: 'Cormorant Garamond', serif;
  --font-questrial: 'Questrial', sans-serif;
  --color-base: #18342F;
  --color-nav: #322F2F;
  --color-badge: #93EEDE;
  --color-button: #1acfae;
  --color-secondary: #9D9D9D;
  --color-tertier: #d9d9d9;
}

@font-face {
  font-family: Swiss721;
  src: url("/fonts/Swis721BT-Regular3.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Swiss721;
  src: url("/fonts/Swiss721BT-BoldExtended.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Swiss721;
  src: url("/fonts/Swiss721BT-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-base: var(--color-base);
  --color-nav: var(--color-nav);
  --color-badge: var(--color-badge);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-libre-baskerville: var(--font-libre-baskerville);
  --font-playfair-display: var(--font-playfair-display);
  --font-plus-jakarta-sans: var(--font-plus-jakarta-sans);
  --font-roboto: var(--font-roboto);
  --font-nunito-sans: var(--font-nunito-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* Background Image - Overlay */
.bg-hero{
  position: relative;
  background-image: url('/images/Background-Image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-footer{
  background-image: linear-gradient(rgba(24, 52, 47, 0.8)), url('/images/Footerbackground-overlay.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-sectionColor{
  background-color: var(--color-base);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* Font Utility Classes */
.font-libre{
  font-family: var(--font-libre-baskerville);
}
.font-villatolping{
  font-family: var(--font-playfair-display);
}
.font-plus{
  font-family: var(--font-plus-jakarta-sans);
}
.font-roboto{
  font-family: var(--font-roboto);
}
.font-nunito-sans{
  font-family: var(--font-nunito-sans);
}
.font-montaga{
  font-family: var(--font-montaga);
}
.font-cormorant-garamond{
  font-family: var(--font-cormorant-garamond);
}
.font-questrial{
  font-family: var(--font-questrial);
}

/* Color Utility Classes */
.imageEffect{
  background-image: url('/images/Logo-Medium.png');
}
.badge-item{
  background-color: var(--color-badge);
  color: var(--color-base);
  font-size: 10px;
}

/* Swiper Library */
.swiper-pagination{
  position: relative;
}
.swiper-pagination-bullet{
  width: 40px;
  height: 2px;
  border-radius: 0;
}
.swiper-pagination-bullet-active{
  background-color: #000000;
  width: 40px;
  height: 3px;
}
.swiper-horizontal > .swiper-pagination-bullets{
  bottom: 0px;
}
:is(.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-horizontal.swiper-pagination-bullets) .swiper-pagination-bullet{
  margin: 0;
}


body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
